body {
  background: linear-gradient(to top, #E4EBF2,white);
  font-family: 'Josefin Sans', sans-serif;
  color: navy;
}
.header-logo {
  width: 100px;
  margin: 25px;
}
.main-heading {
  width: 60%;
  margin-top: 30px;
}
.main-heading-color {
  text-decoration: none;
  color: navy;
}
.heading-logo {
  display: flex;
}
.header {
  width: 101%;
  margin-top: -20px;
  margin-left: -5px;
  background-color: white;
}
.menu {
  margin: 15px;
}
.menu-section {
  margin-right: 10px;
  font-size: 25px;
  font-weight: bolder;
}
.heading-shri {
  text-align: center;
  margin-top: 100px;
  font-weight: 400;
  text-align: center;
}
.show-div {
  text-align: -webkit-center;
}
.prag {
  width: 75%;
  font-size: x-large;
}
.heading {
  font-size: x-large;
  font-weight: 400;
  margin-left: 50px;
}
.link {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: navy;
}
.contact-image {
  text-align: center;
  margin: 75px;
}
.content {
  text-align: center;
  font-size: x-large;
}
.line-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px;
}
.floralwhite-line {
  background: floralwhite;
  border: 1px solid floralwhite;
  width: 50%;
}
.contact-heading {
  text-align: center;
  margin-bottom: 50px;
  margin-left: 0px;
  font-weight: bold;
  font-size: xx-large;
}
.feedback{
  display: flex;
  justify-content: space-around;
}
.input{
  margin-bottom: 20px;
  width: 75%;
  font-size: larger;
  margin-left: 100px;
}
.subject{
  font-size: larger;
  width: 100%;
  margin-bottom: 15px;
  margin-right: 112px;
}
.slide-img {
  height: 100%;
  width: 50%;
}
.message{
  font-size: larger;
  height: 55%;
  width: 100%;
  margin-right: 112px;
}
.button {
  position: absolute;
}
.button1 {
  float: right;
  margin-top: 250px;
  width: 50px;
  height: 80px;
  background: transparent;
  border: none;
  font-size: x-large;
  outline: none;
}
.thanku{
  text-align: center;
  font-weight: 400;
  visibility: hidden;
}
.slideshow {
  -webkit-transition: left 0.15s ease-out;
48
  transition: left 0.15s ease-out;
49
  -webkit-transform: translate3d(0, 0, 0);
50
  transform: translate3d(0, 0, 0);

}
.opd-flex {
  display: flex;
  flex-wrap: wrap;
}
.facilities-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.opd-div-light {
  width: 300px;
  min-width: 25%;
  background-color: #E4EBF2;
  height: 200px;
  text-align: center;
  font-size: x-large; 
}
.facilities-div-light {
  width: 370px;
  min-width: 30%;
  background-color: #E4EBF2;
  height: 200px;
  text-align: center;
  font-size: x-large; 
}
.light {
  background-color: #E4EBF2;
}
.dark {
  width: 300px;
  min-width: 25%;
  height: 200px;
  text-align: center;
  font-size: x-large;
  color: #656dad;
  background-color: #ffffff;
}
.opd-div-dark {
  width: 30%;
  background-color: #656dad;
  height: 200px;
  text-align: center;
  color: #E4EBF2;
  font-size: x-large;
}
.facilities-div-dark {
  width: 370px;
  min-width: 30%;
  background-color: #656dad;
  height: 200px;
  text-align: center;
  color: #E4EBF2;
  font-size: x-large;
}
.margin {
  margin: 100px;
}
.facilities-text {
  margin-top: 85px;
}
.link-light {
  text-decoration: none;
  color: #E4EBF2;
}
.link-dark {
  text-decoration: none;
  color: navy;
}
.cardio-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.button-menu{ 
	display: inline-block;      
	width: 130px; 
	padding: 5px; 
	text-align: center; 
	font-weight: bold;
	text-decoration: none;
}
.opd-font {
  font-size: initial;
  margin-top: -5px;
  position: absolute;
  margin-left: -55px;
}
@keyframes pulse_animation {
	0% { transform: scale(1); }
	30% { transform: scale(1); }
	40% { transform: scale(1.08); }
	50% { transform: scale(1); }
	60% { transform: scale(1); }
	70% { transform: scale(1.05); }
	80% { transform: scale(1); }
	100% { transform: scale(1); }
}
.pulse {
	animation-name: pulse_animation;
	animation-duration: 5000ms;
	transform-origin:70% 70%;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
.cardio-heading {
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
  color: blanchedalmond;
  display: none;
}
@media only screen and (max-width: 1000px) {
  .content {
    font-size: small;
  }
  .contact-heading {
    font-size: small;
  }
}